@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --general-color: #128323;
    --light-general-color: #189b2c;
    --general-color-filter: brightness(0) saturate(100%) invert(16%) sepia(99%) saturate(4503%) hue-rotate(142deg) brightness(98%) contrast(86%);
    --light-general-color-filter: brightness(0) saturate(100%) invert(44%) sepia(66%) saturate(671%) hue-rotate(80deg) brightness(93%) contrast(89%);
    --OS: "Open Sans", sans-serif;
    --NS: "Nunito Sans", sans-serif;    
    --Fredoka: "Fredoka", sans-serif;
}

body{
    margin: 0;
}


header.container {
    padding-top: 20px;
}

nav {
    display: flex;
    gap: 35px;
    transform: scale(2);
}

.general-color-button{
    background-color: var(--general-color);
    color: white;
    border: 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.general-color-button:hover {
    cursor: pointer;
    background-color: var(--light-general-color);
}

.general-color-button.catalog::before {
    content: "";
    background-repeat: no-repeat;
    height: 15px;
    width: 20px;
    background-size: 15px;
    background-image: url(../imgs/icons/catalog-icon.png);
    filter: invert();
}

.icon-button {
    background-color: transparent;
    align-items: center;
    color: var(--general-color);
    border: 0;
    display: flex;
}

.icon-button:hover {
    cursor: pointer;
    color: var(--light-general-color);
}

.icon-button::before {
    content: "";
    background-repeat: no-repeat;
    height: 15px;
    width: 20px;
    background-size: 15px;
}

.icon-button.enter::before {
    background-image: url(../imgs/icons/user.png);
    filter: invert(70%);
}

.icon-button.orders::before {
    background-image: url(../imgs/icons/box.png);
    filter: invert(70%);
}

.icon-button.favourite::before {
    background-image: url(../imgs/icons/heart.png);
    filter: invert(70%);
}

.icon-button.cart::before {
    background-image: url(../imgs/icons/shopping-bag.png);
    filter: invert(70%);
}

.icon-button:hover::before {
    filter: var(--light-general-color-filter);
}

input[type="search"] {
    border-radius: 6px;
    border-color: var(--general-color);
    outline: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    max-width: 60%;
    margin: 0 auto;
    justify-content: center;
}

.product {
    width: 256px;
    height: 540px;
    font-family: var(--OS);
}

.product .thumbnail {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.product .price {
    color: var(--general-color);
    font-size: 35px;
    font-weight: 600;
}

.product .old-price {
    color: gray;
    text-decoration-line: line-through;
    font-size: 20px;
    font-weight: 600;
}

.product .discount {
    color: mediumvioletred;
    font-size: 20px;
    font-weight: 600;
}

.product .reviews {
    color: gray;
}

.product .left{
    color: mediumvioletred;
    font-size: 15px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 12px;
}


.product .name{
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 8px;
}

.product .rating::before{
    content: "";
    display: inline-block;
    background-image: url(../imgs/icons/star.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 15px;
    background-size: 15px;
}

.product .reviews::before{
    content: "";
    display: inline-block;
    background-image: url(../imgs/icons/speech-bubble.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 15px;
    background-size: 15px;
    filter: invert(60%);
    margin-left: 5px;
}

.product p{
    line-height: 10px;
}

.buy-div{
    display: flex;
    justify-content: center;
}

.buy-div button{
    border-radius: 15px;
    margin-top: 25px;
    height: 50px;
    width: 100%;
    font-size: 30px;
}

.buy-div button::before{
    content: "";
    display: inline-block;
    background-image: url(../imgs/icons/add-to-cart.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px;
    margin-right: 10px;
}

.product span{
    padding-right: 5px;
}

[id="feed"]{
    gap: 100px
}

footer{
    background-color: #312a52;
    margin-top: 100px;
    padding-bottom: 500px;
}